.modalSaveUnsavedWrapper {
    position: fixed;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.5);
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding-inline: 20%;

    inset: 0;
}

.modalSaveUnsavedContent {
    width: max(300px, 30vw);
    max-height: 80%;

    overflow-y: auto;

    background: white;
    padding: 1rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    h3 {
        margin: 0;
    }
}

