.titleText {
    color: #d2c4b1;
}

.mainPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background:
        linear-gradient(#18191b, #131416);

}